@import 'tailwindcss';

@font-face {
    font-family: 'Irish Grover';
    src:url('/src/assets/fonts/IrishGrover-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Irish Grover', cursive;
  }